body {
    font-family: Arial;
    padding: 20px;
}

textarea {
    width: 400px;
    height: 200px;
}

.task-card {
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    background: #f4f4f4;
}
